{% extends 'base.html' %} {% block content %}

<body class="body">
  <div class="container">
    <div class="card">
      <div class="card-content" style="margin: 50px 0px;">
        <div class="row">
          <!-- Leaving the action empty makes the form post to the same url used to display it -->
          <form class="col s10 push-s1" action="" method="post">
            {% if object %}
              <h1>Edit Trip to <span class="teal-text">{{object.location}}</span></h1>
            {% else %}
            <h1><u>Add Trip</u></h1>
            {% endif %}
            <!-- Django requires the following for security purposes -->
            {% csrf_token %}
            <!-- <table> -->
              <label for="id_trip_organizer">Trip organizer:</label>
              <input type="text" name="trip_organizer" value="{{ user.username }}" required id="id_trip_organizer">

              <label for="id_attending">Attending:</label>
              <input type="text" name="attending" value="{{ trip.attending }}" maxlength="50" required id="id_attending">
              <label for="id_location">Location:</label>
              <input type="text" name="location" value="{{ trip.location }}" maxlength="50" required id="id_location">
              <label for="id_budget">Budget:</label>
              <input type="number" name="budget" value="{{ trip.budget }}" required id="id_budget">
              <label for="id_date">Date:</label>
              <input type="text" name="date" value="{{ object.date }}" required id="id_date" >
              <label for="id_plan">Plan:</label>
              <textarea name="plan" cols="40" rows="10" maxlength="250" required id="id_plan">{{ trip.plan }}</textarea>
              <label for="id_notes">Notes:</label>
              <textarea name="notes" cols="40" rows="10" maxlength="250" required id="id_notes">{{ trip.notes }}</textarea>
              <label for="id_public">Public:</label>
              <select name="public" value="{{ trip.public }}" id="id_public">
                <option value="N" {% if trip.public == 'N' %} selected {% endif %}>No</option>
                <option value="Y" {% if trip.public == 'Y' %} selected {% endif %}>Yes</option>
              </select>
            <!-- {{ form.as_p}} -->
            <!-- </table> -->
            <input style="float: left;" type="submit" value="Submit!" class="btn blue" />
          </form>
        </div>
        <br><br><br>
      </div>
    </div>
  </div>
</body>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: dateEl.value !== '' ? new Date(dateEl.value) : new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var selectEl = document.getElementById('id_public');
  M.FormSelect.init(selectEl);

</script>
{% endblock %}