{% extends 'base.html' %} {% block content %}

<body class="body">

    <div class="container">

        {% if searched %}
        <h1>You Searched for {{ searched }}</h1>
        <!-- <button class="btn blue">
            <a class="back" href="{% url 'index' %}">Back</a>
        </button> -->
        <br />
        {% if trips %}
            {% for trip in trips %}
            <div class="card">
            <a href="/upcomingtrips/{{ trip.id }}">
                <div class="card-content">
                <span class="card-title">{{ trip.location }}</span>
                <p>Trip Organizer: {{ trip.trip_organizer }}</p>
                <p>Attendees: {{ trip.attending }}</p>
                </div>
            </a>
            </div>
            {% endfor %}
        {% else %}
            <br>
            No Trips found by the name of {{ searched }}
        {% endif %}
            

        {% else %}
            <h1>You Frogot to Search? </h1>
            Try again
            <!-- <button class="btn blue">
                <a class="back" href="{% url 'index' %}">Back</a>
            </button> -->
        {% endif %}
    </div>
</body>

{% endblock %}