{% extends 'base.html' %} {% block content %}

<body class="body">

    <div class="container">
        <h1>About Triplog.io</h1>
        <hr />
        <p>Welcome Travelers!</p>
        <div class="textBox">
            <h5>Welcome to Triplog.io</h5>
            <p>Triplog is an experimental application created to be able to log our trips efficiently in an
                organized fashion and to also be able to share our experiences to other users. This application
                consist of a backend using Django, Postgresql, Python and a frontend using HTML, CSS, Javascript and
                Materialize CSS.
            </p>
            <p>

            </p>
        </div>
    </div>

</body>
{% endblock %}
