{% extends 'base.html' %} {% block content %}

<body class="body">

    <div class="container">
        <h1>Welcome Travelers!</h1>
        <hr />
        <div class="textBox">
            <div class="textBox-Top">
            <h5>Welcome to Triplog.io</h5>
            <p>Triplog is an experimental application created to be able to log our trips efficiently in an
                organized fashion. You will also be able to share your experiences with other users. This application
                consist of a backend using Django, Postgresql, Python and a frontend using HTML, CSS, Javascript and
                Materialize CSS.
            </p>
        </div>
            <h5>Application Features:</h5>
            <div class="textBox-Bottom" style="text-align: left;">
            <p>
                <ol>
                <li>
                    As a user you are able to register an account and sign in.
                </li>
                <li>
                    On the homepage there is a image carousel displaying travel images.
                </li>
                <li>
                    Authorization restricts access to the app's features. Each user is given a secure experience by authenticating the user to their own individual trip pages by restricting acces to certain 
                    features that belong to the user.
                </li>
                <li>
                    Each user has their own page displaying their own trips.
                </li>
                <li>
                    A user is able to Create, Read, Update, and Delete (CRUD) trips.
                </li>
                <li>
                    A user is able to upload photos of their trip.
                </li>
                <li>
                    A user is able to comment on their own trip and reply to other people who comment.
                </li>
                <li>
                    Trips can be set to public meaning other users in the application can check out their images, plans, and comment
                    on their trips.
                </li>
                <li>
                    Trips are filtered between upcoming trips and past trips depending automatically based on the trip date.
                </li>
                <li>
                    A logged in user has access to a search functionality in the navbar where users can search by trip location name (ex: Germany, Italy etc.)
                </li>
                <li>
                    The application is mobile friendly with responsive design.
                </li>
            </ol>
        </p>
        <h5>
            Triplog.io Team
        </h5>
        <p>
            Come Check Us Out
        </p>
        <div class="collection">
            <a href="https://danielwerminghausenporfolio.netlify.app/" class="collection-item">Daniel Werminghausen</a>
            <a href="#!" class="collection-item">Daniel Hill</a>
            <a href="#!" class="collection-item">Steve Braaksma</a>
            <a href="#!" class="collection-item">Mario Recinos</a>
          </div>
        </div>
        </div>
    </div>

</body>
{% endblock %}
